*.lbc
*.imp
*.rtp
*.d32
*.lst
*.map
*.sym
*.[cdg]h
*.gpp
*.res
*.pch
*.lnk
*.int
*.grc
*.tmp
*.u
*.err
*.lo?
*.ext
*.dip
*.prs
*.mad
*.trp
*.nlm
*.elf
*.mk
*.mk1
*.lk1
*~

stderr.txt
stdout.txt

bootstrp
prebuild

/setvars

/distrib/ow/open-watcom-*

/rel2/
/pass1/
/pass2/
