*.o
*.[oxu]bj
*.exe
*.dll
*.lib
*.lbc
*.imp
*.rtp
*.d32
*.lst
*.map
*.sym
*.[cdg]h
*.gpp
*.res
*.pch
*.lnk
*.int
*.grc
#*.msg
#*.rc
*.tmp
*.u
*.err
*.lo?
*.ext
*.386
*.dip
*.prs
*.mad
*.trp
*.nlm
*.elf
*.mk
*.mk1
*.lk1

/rel2/
/pass1/
/pass2/
