*.blt
*.cn1
*.cnt
*.GML
*.idx
*.kw
*.LAY
*.lay
*.mix
*.PTF
*.ptf
*.tbl

sysusr*.gml
wgml.bat
winehc.bat

/dos/*.h
/dos/*.ib
/dos/*.ihp

/html/*.bmp
/html/*.h
/html/*.htm

/htmlhelp/*.bmp
/htmlhelp/*.chi
/htmlhelp/*.chm
/htmlhelp/*.h
/htmlhelp/*.hhc
/htmlhelp/*.hhk
/htmlhelp/*.hhp
/htmlhelp/*.htm
/htmlhelp/*/*.bmp
/htmlhelp/*/*.chi
/htmlhelp/*/*.chm
/htmlhelp/*/*.h
/htmlhelp/*/*.hhc
/htmlhelp/*/*.hhk
/htmlhelp/*/*.hhp
/htmlhelp/*/*.htm

/nt/*.h
/nt/*.hh
/nt/*.hlp
/nt/*.hpj
/nt/*.rtf

/os2/*.h
/os2/*.hlp
/os2/*.inf
/os2/*.ipf

/pdf/*.pdf
/pdf/*.PS
/pdf/*.ps
/pdf/tmp/*.ps

/ps/*.PS
/ps/*.ps

/win/*.h
/win/*.hh
/win/*.hlp
/win/*.hpj
/win/*.ph
/win/*.rtf

